<!-- 
    TEMPLATE básico para extender a los demás.
    Este ya carga JQuery y Bootstrap por defecto.
 -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <title>Inicio</title>
    {% endblock %}
    <!-- Imports-->
    <script src="{% static 'vendor/jquery-3.6.0.min.js' %}" ></script>

    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.css' %}"/>

    <!-- <script src="{% static 'vendor/popper.min.js' %}" ></script> -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" ></script>

    {% block cssjs %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <header class="">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark p-2">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">{{ bank_name }}</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mr-auto">
                        {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'auth_signup' %}active{% endif %}" 
                            href="/api/auth/signup/">Registrar Usuarios</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'transaction_create_render' %}active{% endif %}" 
                            href="/api/transaction">Nueva Transacción</a>
                        </li>
                    </ul>
                    <span class="text-light me-2">Hola {{ user.username }} </span>
                    <form action="/api/auth/logout/">
                        <button class="btn btn-secondary btn-sm" type="submit">Cerrar Sesión</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    {% endblock %}

    {% block toast %}
    {% endblock %}
    
    <main role="main" class="container pt-5">
        {% block content %}
        {% endblock %}
    </main>
    <!-- <footer class="footer">
        <div class="container">
          <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer> -->
</body>
</html>